{% extends 'content/base.html' %}
{% load static %}

{% block page_title %}
    {{the_content.title}}
{% endblock page_title %}

{% block content %}
    <div class="video-block section-padding">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="single-video-left">
                           <div class="single-video">
                                        <div class="video-container">
                <video id="mainVideo" controls controlsList="nodownload" preload="metadata" poster="{{ the_content.img_detail_poster.url }}" style="width: 100%; max-height: 80vh; object-fit: contain;">
                    <source src="{{ the_content.file_mp4.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

                        </div>
                           <div class="single-video-title box mb-3">
                              <h2><a href="#">{{the_content.title}}</a></h2>
                              <p class="mb-0"><i class="fas fa-eye"></i> {{the_content.watch_times}} views</p>
                           </div>
                         
                           <div class="single-video-info-content box mb-3">
                              <h6>Category :</h6>
                              <p>{{the_content.category}}</p>
                              <h6>About :</h6>
                              <p>{{the_content.description}}</p>
                              <h6>Tags :</h6>
                              {% comment %} <p class="tags mb-0">
                                 <span><a href="#">Uncharted 4</a></span>
                                 <span><a href="#">Playstation 4</a></span>
                                 <span><a href="#">Gameplay</a></span>
                                 <span><a href="#">1080P</a></span>
                                 <span><a href="#">ps4Share</a></span>
                                 <span><a href="#">+ 6</a></span>
                              </p> {% endcomment %}
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="single-video-right">
                            <h3>Related Videos</h3>
                           <div class="row">
                               <div class="col-md-12 row">

                               {% for video in other_contents %}
                               {% if video.category == the_content.category and video.id != the_content.id %}
                                  <div class="video-card video-card-list col-md-4">
                                     <div class="video-card-image">
                                        <a class="play-icon" href="{% url 'content:content_detail_view' video.slug %}"><i class="fas fa-play-circle"></i></a>
                                        {% if video.img_poster %}
                                        <a href="{% url 'content:content_detail_view' video.slug %}"><img class="img-fluid" src="{{ video.img_poster.url }}" alt="{{ video.title }}"></a>
                                        {% else %}
                                        <a href="{% url 'content:content_detail_view' video.slug %}"><img class="img-fluid" src="{% static 'assets/media/anime/anime-01.jpg' %}" alt="{{ video.title }}"></a>
                                        {% endif %}
                                        {% if video.duration %}
                                        <div class="time">{{ video.duration }}</div>
                                        {% endif %}
                                     </div>
                                     <div class="video-card-body">
                                        <div class="video-title">
                                           <a href="{% url 'content:content_detail_view' video.slug %}">{{ video.title }}</a>
                                        </div>
                                        <div class="video-page text-success">
                                           {{ video.category }}
                                        </div>
                                        <div class="video-view">
                                           {{ video.watch_times }} views
                                        </div>
                                     </div>
                                  </div>
                               {% endif %}
                               {% endfor %}
                               </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
{% endblock content %}