{% extends 'content/base.html' %}
{% load static %}
{% block content %}
    <!-- HERO BANNER START -->
    <div class="anime-detail">
        <div class="trailer">
            <div class="video-container">
                <video id="mainVideo" controls controlsList="nodownload" preload="metadata" poster="{{ the_content.img_detail_poster.url }}" style="width: 100%; max-height: 80vh; object-fit: contain;">
                    <source src="{{ the_content.file_mp4.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <!-- blogs-start -->
        <section class="anime-streaming bg-dark-black py-40">
            <div class="container-fluid">
                <h3 class="white mb-24">{{ the_content.title }}</h3>
                <div class="streamer-detail mb-24">
                    
                </div>
                <p class="white mb-48">
                    {{the_content.description}}
                </p>

                <div class="trendingSlider row">
                    {% for content in other_contents  %}
                    <div class="col-12">
                        <a href="{% url 'content:content_detail_view' content.slug %}" class="anime-card gap-24">
                            {% if content.img_poster %}
                            <img src="{{content.img_poster.url}}" alt="pic">
                            {% else %}
                            <img src="{% static 'assets/media/anime/anime-01.jpg' %}" alt="pic">
                            {% endif %}
                            <div class="overlay"></div>
                            <div class="text">
                                <h6 class="white">{{content.title}}</h6>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--blogs-->
        <!-- HERO BANNER END -->
        <!-- modal-popup area start  -->
        <div class="modal fade" id="videoModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="top_bar">
                        <h4 class="modal-title">{{the_content.title}} 4</h4>
                        <button type="button"
                                class="close"
                                id="closeVideoModalButton"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i> <b>Close</b></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <video controls title="Video">
                            <source src="{{ the_content.file_mp4.url }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal-popup area end  -->
        <!-- modal-popup area start  -->
        <div class="modal fade" id="videoModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="top_bar">
                        <h4 class="modal-title">{{ the_content.title }}</h4>
                        <button type="button"
                                class="close"
                                id="closeVideoModalButton"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i> <b>Close</b></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <video controls title="Video">
                            <source src="{{ the_content.file_mp4.url }}" type="video/mp4">
                            <a href="/" aria-label="logo image">
                                <img src="{% static 'assets/media/user/logo.png' %}" alt="logo">
                            </a>
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <form class="d-none">
            <input type="hidden" id="videoFiles" value='[{"file": "{{ the_content.file_mp4.url }}", "label": "720p"}]' />
            <input type="hidden" id="posterImage" value="{{ the_content.img_detail_poster.url }}" />
        </form>
        <!-- modal-popup area end  -->
    {% endblock content %}
    {% block extra_js %}
    <style>
    .video-container {
        width: 100%;
        background: #000;
        position: relative;
    }
    video::-webkit-media-controls-fullscreen-button,
    video::-webkit-media-controls-play-button,
    video::-webkit-media-controls-timeline,
    video::-webkit-media-controls-current-time-display,
    video::-webkit-media-controls-time-remaining-display,
    video::-webkit-media-controls-time-remaining-display,
    video::-webkit-media-controls-mute-button,
    video::-webkit-media-controls-toggle-closed-captions-button,
    video::-webkit-media-controls-volume-slider {
        display: flex;
    }
    </style>
    <script>
        $(document).ready(function () {
            const video_url = JSON.parse($('#videoFiles').val());
            const poster_url = $('#posterImage').val();
        
            console.log('video_url:', video_url);
            console.log('poster_url:', poster_url);
        
            Init.VideoPlayer(video_url, poster_url);
            Init.videoPlay();
        });
        
    </script>
    {% endblock extra_js %}
    
