{% extends 'content/base.html' %}
{% load static %}
{% block page_title %}
    Home
{% endblock page_title %}
{% block content %}
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h6>Featured Videos</h6>
                </div>
            </div>
            {% for content in featured_content %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon"
                               href="{% url 'content:content_detail_view' content.slug %}"><i class="fas fa-play-circle"></i></a>
                            <a href="{% url 'content:content_detail_view' content.slug %}">
                                <img class="img-fluid" src="{{ content.img_poster.url }}" alt="">
                            </a>
                            <div class="time">{{ content.timedelta }}</div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'content:content_detail_view' content.slug %}">{{ content.title }}</a>
                            </div>
                            <div class="video-page text-success">
                                {{ content.category }}  <a title=""
     data-placement="top"
     data-toggle="tooltip"
     href="#"
     data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{ content.watch_times }} views &nbsp;<i class="fas fa-calendar-alt"></i> {{ content.upload_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="mt-0">
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h6>Trending Videos</h6>
                </div>
            </div>
            {% for content in trending_today %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon"
                               href="{% url 'content:content_detail_view' content.slug %}"><i class="fas fa-play-circle"></i></a>
                            <a href="{% url 'content:content_detail_view' content.slug %}">
                                <img class="img-fluid" src="{{ content.img_poster.url }}" alt="">
                            </a>
                            <div class="time">{{ content.timedelta }}</div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'content:content_detail_view' content.slug %}">{{ content.title }}</a>
                            </div>
                            <div class="video-page text-success">
                                {{ content.category }}
                                <a data-placement="top"
                                   data-toggle="tooltip"
                                   href="#"
                                   data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{ content.watch_times }} views &nbsp;<i class="fas fa-calendar-alt"></i> {{ content.upload_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="mt-0">
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h6>Local Recipes</h6>
                </div>
            </div>
            {% for content in local_content %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon"
                               href="{% url 'content:content_detail_view' content.slug %}"><i class="fas fa-play-circle"></i></a>
                            <a href="{% url 'content:content_detail_view' content.slug %}">
                                <img class="img-fluid" src="{{ content.img_poster.url }}" alt="">
                            </a>
                            <div class="time">{{ content.timedelta }}</div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'content:content_detail_view' content.slug %}">{{ content.title }}</a>
                            </div>
                            <div class="video-page text-success">
                                {{ content.category }}
                                <a data-placement="top"
                                   data-toggle="tooltip"
                                   href="#"
                                   data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{ content.watch_times }} views &nbsp;<i class="fas fa-calendar-alt"></i> {{ content.upload_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="mt-0">
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h6>Intercontinental Recipes</h6>
                </div>
            </div>
            {% for content in foreign_content %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon"
                               href="{% url 'content:content_detail_view' content.slug %}"><i class="fas fa-play-circle"></i></a>
                            <a href="{% url 'content:content_detail_view' content.slug %}">
                                <img class="img-fluid" src="{{ content.img_poster.url }}" alt="">
                            </a>
                            <div class="time">{{ content.timedelta }}</div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'content:content_detail_view' content.slug %}">{{ content.title }}</a>
                            </div>
                            <div class="video-page text-success">
                                {{ content.category }}  <a title=""
     data-placement="top"
     data-toggle="tooltip"
     href="#"
     data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{ content.watch_times }} views &nbsp;<i class="fas fa-calendar-alt"></i> {{ content.upload_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="mt-0">
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h6>Latest Videos</h6>
                </div>
            </div>
            {% for content in recent_contents %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon"
                               href="{% url 'content:content_detail_view' content.slug %}"><i class="fas fa-play-circle"></i></a>
                            <a href="{% url 'content:content_detail_view' content.slug %}">
                                <img class="img-fluid" src="{{ content.img_poster.url }}" alt="">
                            </a>
                            <div class="time">{{ content.timedelta }}</div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'content:content_detail_view' content.slug %}">{{ content.title }}</a>
                            </div>
                            <div class="video-page text-success">
                                {{ content.category }}  <a title=""
     data-placement="top"
     data-toggle="tooltip"
     href="#"
     data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{ content.watch_times }} views &nbsp;<i class="fas fa-calendar-alt"></i> {{ content.upload_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="mt-0">
{% endblock content %}
